<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/font/fontawesome-free-5.15.2/fontawesome-free-5.15.2-web/css/all.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/navbar.css">
    <link rel="stylesheet" href="/public/css/upload_navbar.css">

</head>

<body>
    <div class="container-md">
        <div class="row g-0 ">
            <div class="col spaceNavbar ">
                <div class="col col-md-3 navbar-Instagram">
                    <li class="control control-camera control-camera-mobile " id="control-camera-3"><i
                            class="fas fa-camera"></i></li>
                    <a href="/home" id="vibes">Vibes</a>
                    <li class="control control-messenger control-messenger-mobile"><a href="/messenger"><i
                                class="fab fa-facebook-messenger"></i></a></li>
                </div>
                <div class="col-md-2 navbar-Search">
                    <input type="search" name="search" id="idsearch" placeholder=" Tìm kiếm" autocomplete="off">
                    <div class="spaceNotification">
                        <h6 class="recent">Gần đây</h6>
                        <div class="notification">
                            <p>Không có nội dung tìm kiếm mới đây.</p>
                        </div>
                    </div>
                </div>
                <ul class="col-md-3 navbar-Main">
                    <li class="control control-home"><a href="/home"><i class="fas fa-home"></i></a></li>
                    <li class="control control-messenger"><a href="/messenger"><i
                                class="fab fa-facebook-messenger"></i></a></li>
                    <li class="control control-camera" id="control-camera"> <i class="fas fa-camera"></i></li>
                    <li class="control control-search"><a href=""><i class="fas fa-search"></i></a></li>
                    <li class="control control heart"><a href=""><i class="far fa-heart"></i></a></li>
                    <li class="control control-user control-user-pc" id="control-user-pc">
                        {{usermain}}
                        <div class="spaceControlUser">
                            <a href="/{{usermain}}">
                                <div class="profile">Trang cá nhân
                                </div>
                            </a>
                            <div class="signout" id="signout-pc">Đăng xuất</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navbarSeparate"></div>

    <div class="navbarSeparate-mobile"></div>
    <div class="container-md container-mobile">
        <div class="row g-0">
            <div class="col spaceNavbar-mobile">
                <li class="control control-home"><a href="/home"><i class="fas fa-home"></i></a>
                </li>
                <li class="control control-search"><a href=""><i class="fas fa-search"></i></a></li>
                <li class="control control-camera" id="control-camera-2"><i class="fas fa-camera"></i></li>
                <li class="control control heart"><a href=""><i class="far fa-heart"></i></a></li>
                <li class="control control-user">{{usermain}}
                    <div class="spaceControlUser">
                        <a href="{{usermain}}">
                            <div class="profile">Trang cá nhân
                            </div>
                        </a>
                        <div class="signout" id="signout-mobile">Đăng xuất</div>
                    </div>
                </li>
            </div>
        </div>
    </div>


    <div class="modal" tabindex="-1" id="modal">
        <div class="modal-dialog">

            <form id="formUpload" action="/upload" method="POST" enctype="multipart/form-data">
                <div class="modal-content">
                    <div class="modal-header">
                        <div>Tiêu đề</div>
                        <textarea name="title" id="modal-title"></textarea>
                        <button type="button" id="btn-close" class="btn btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="file" name="file" id="file">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="btn-upload">Đăng</button>
                        <button type="button" class="btn btn-secondary" id="btn-close-2"
                            data-bs-dismiss="modal">Thôi</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="/public/JSclient/upload.js"></script>

</body>

</html>