<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Vibes</title>

</head>

<body>
    {{>navbarHome}}

    {{{body}}}

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io('http://localhost:3000/');
        var listOnline = document.querySelector('#listOnline');

        var userCookie = document.cookie;
        socket.emit('get-value-cookie', userCookie.slice(userCookie.indexOf('=') + 1));
        socket.on('get-all-user-online', (usersOnline) => {
            listOnline.innerHTML = '';
            usersOnline.forEach((userOnline) => {
                listOnline.insertAdjacentHTML('beforeend', `<div class="itemOnline"><div class="tickOnline"></div> &nbsp<a href="/${userOnline}">${userOnline}</a></div>`);
            })
        })


        var signout = Array.from(document.querySelectorAll('.signout'));
        signout.forEach(function (button) {
            button.addEventListener('click', function () {
                socket.emit('signout' , userCookie.slice(userCookie.indexOf('=') + 1));
                document.cookie = "userCookie=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
                window.location = '/';

            })
        })

    </script>
</body>

</html>