<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/font/fontawesome-free-5.15.2/fontawesome-free-5.15.2-web/css/all.min.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/auth_signup.css">
</head>

<body>
    <div class="container">
        <div class="row spaceSignIn g-0">
            <div class="col-md-10 formSignIn " id="idformSignIn">
                <div class="spaceImageSignIn"> <img class="imageSignIn" src="../public/img/ImageSignIn/imageSignIn.png"
                        alt="ImageSignIn"></div>
                <div class="spaceFormValidate">
                    <div class="spaceFormValidator">
                        <div class="formValidate">
                            <div class="nameAppFormSignIn">
                                Vibes
                            </div>
                            <form action="" method="POST" id="formSubmit">
                                <input type="text" name="_name" class="idusername" id="name" maxlength="30" tabindex="1" minlength="2"
                                    placeholder="Tên Đầy Đủ">
                                <input type="text" name="username" class="idusername" id="username" maxlength="20" tabindex="2" minlength="2"
                                    placeholder="Tên người dùng">
                                <input type="password" name="password" class="idpassword" placeholder="Mật khẩu" tabindex="3" minlength="3"
                                    id="password" maxlength="30">
                                <button class="hidePassword" id="idhidePassword1" type="button" tabindex="6">Hiển thị</button>
                                <input type="password" name="repeatpassword" class="idpassword" tabindex="4" minlength="3"
                                    placeholder="Nhập lại mật khẩu" id="repeatpassword" maxlength="30">
                                <button class="hidePassword" id="idhidePassword2" type="button" tabindex="7">Hiển thị</button>
                                <button id="idsignup" type="submit" tabindex="5" >Đăng ký</button>
                                <div id="messageerror">{{messageerror}}</div>
                            </form>
                            <div class="separation">
                                <div class="separate"></div>
                                Hoặc
                                <div class="separate"></div>
                            </div>
                            <a href="https://www.facebook.com/" target="blank" id="idloginWithFB"><i
                                    class="fab fa-facebook-square"></i>&nbsp; Đăng nhập bằng Facebook</a>
                            <a href="" id="idforgetPassword">Quên mật khẩu?</a>
                        </div>

                        <div class="swapSignUp">
                            Bạn không có tài khoản? <a href="/" id="idformSignUp">Đăng nhập</a>
                        </div>
                        <footer class="footerForm">
                            Tải ứng dụng
                            <div class="downloadApp">
                                <a class="linkAppStore" href="https://apps.apple.com/app/instagram/id389801252?vt=lo">
                                    <img class="imglink" src="../public/img/ImageSignIn/appstore.png" alt="App Store">
                                </a>
                                <a class="linkGGPlay"
                                    href="https://play.google.com/store/apps/details?id=com.instagram.android&referrer=utm_source%3Dinstagramweb&utm_campaign=loginPage&ig_mid=07F72DE9-3F38-4898-8A23-C02BB4F2FCDA&utm_content=lo&utm_medium=badge">
                                    <img class="imglink" src="../public/img/ImageSignIn/ggplay.png" alt="GG Play"></a>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>

        </div>
        <footer class="row spaceFooter g-0">
            <div class="space1">
                <a href="">Giới thiệu</a>
                <a href="">Blog</a>
                <a href="">Việc làm</a>
                <a href="">Trợ giúp</a>
                <a href="">API</a>
                <a href="">Quyền riêng tư</a>
                <a href="">Điều khoản</a>
                <a href="">Tài khoản liên quan nhất</a>
                <a href="">Hash tag</a>
                <a href="">Vị trí</a>
            </div>
            <div class="space2">
                <div class="language">Tiếng Việt </div>&emsp;&copy; 2021 Vibes from Xuan
            </div>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="../public/JSclient/formSignup.js"></script>
</body>

</html>