<h1 class="spacePosts">Chỗ này chưa code , lười làm quá</h1>


<style>
    .spacePosts{
        background-color:cornflowerblue;
        width: 100vw;
        height: 85vh;
        margin-bottom: 7.5vh;
        margin-top: 7.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>