<link rel="stylesheet" href="../public/css/search.css">

<div class="container">
    <div class="col search">
        <form action="" method="get" id="formSearch">
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping">@</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="addon-wrapping">
            </div>
        </form>
    </div>
</div>