<link rel="stylesheet" href="../public/css/search.css">

<div class="container">
    <div class="col spaceSearch">
        <form action="" method="get" id="formSearch">
            <span class="brand">@</span>
            <input type="search" name="search" id="inputSearch">
            <button type="submit" id="submitSearch">Tìm kiếm</button>
        </form>
        <div class="listUserSearch">
            {{#each userQuery}}
            <a href="/{{this.username}}" class="userSearch">
                <div class="nameSearch">{{this.username}}</div>
                <img src="{{this.avatar}}" alt="avatar" srcset="" class="imgSearch">
            </a>
            {{/each}}
        </div>
    </div>
</div>

<script>
  
</script>