html{
    overflow-x: hidden;
}
.spaceBonus{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 7.5vh;
    right: 400px;
    width: 350px;
    height: 70vh;
    z-index: 1;
}
.headerBonus{
    height: 3%;
    text-align: center;
}
.listOnline{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    max-height: 45%;
    position: relative;
}
.itemOnline{
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.tickOnline{
    background-color: green;
    height: 12px;
    width: 12px;
    margin-top: 17px;
    border-radius: 100px;
    
}
.itemOnline a {
    text-decoration: none;
    color: var(--purple-color);
}
.itemOnline a:hover {
    text-decoration:underline var(--purple-color);
    font-size: 25px;
}


.footerMain{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 30%;
    font-size: 70px;
}
.spaceFooter{
    height: 20%;
    color: gray;
    font-size: 0.6rem;
}
.space1 a{
    text-decoration: none;
    padding-right: 10px;
    color: gray;
    font-size: 0.8rem;
}
.space1 a:hover{
    color:darkgrey;
}
.space1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.space2{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
 
.spaceApp{
    display: flex;
    margin-top: 7.5vh;
}
.spaceNews{
    margin-top: 15px;
}
.footerMain a {
    text-decoration: none;
    color: var(--purple-color);
}
.user-news{
    margin-left: 5px;
    line-height: 50px;
}
#PostStatus{
    min-height: 55px;
    max-height: 1000px;
    display: flex;
    margin-bottom: 2vh !important;
    width: 100%;
    margin: 0 auto;
    margin-top: 1vh;
    justify-content: center;
    
}
#inputStatus{
    min-height: 55px;
    max-height: 1000px;
    width: 70%;
    border: 1px var(--border-color) solid;
    resize: none;
    border-radius: 10px;
    font-size: 17px;
    overflow: auto;
    padding: 5px;
}
#inputStatus:focus{
    outline: none;
}
#submitStatus{
    width: 20%;
    min-height: 55px;
    border: none;
    background-color: plum;
    border: 1px var(--border-color) solid;
    border-radius: 10px;
    font-size: 20px;
}
#submitStatus:hover{
    font-size: 30px;
    background-color: purple;
    color: white;
}

.spaceEnd{
    display: flex;
    height: 20vh;
    align-items: center;
    margin-bottom: 7.5vh;
}
.spaceNextPage{
    height: 100%;
}
.list-item-page{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    max-width: 100%;
    overflow-x: auto;
}
.itemPage{
    height: 50%;
    min-width: 18%;
    background-color: plum;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 25px;
    color: black;
    border-radius: 100%;
}
.itemPage:hover{
    cursor: pointer;
    font-size: 40px;
    color:dodgerblue;
    background-color: rgba(255, 255, 255, 0.8);
}
.imgonl {
    margin-top: 12px;
    max-height: 20px;
    max-width: 20px;
}


@media (max-width: 767.98px) { 
    .spaceNews{
        padding: 0;
        margin-top: 0px !important;
    }
    .spaceApp{
        margin-left: 0;
        margin-right: 0;
    }
    .spaceNextPage{
        width: 100%;
    }
}
@media (min-width: 768px) { 
    .spaceNews{
        margin-left: 16vw;
    }
    .spaceNextPage{
        margin-left: 16vw;
    }
    
 }
 @media (max-width: 1000px) {
    .spaceFooter{
        display: none;
    }
    .footerMain{
        display: none !important;
    }
    .spaceBonus{
        display: none !important;
    }
 }
 @media (max-width: 1400px) {
    .spaceBonus{
        display: none !important;
    }
    
 }
@media (max-width: 1500px) { 
    .spaceBonus{
        right: 220px !important;
    }
}