body{
    background-color: var(--main-background-color);
}
@media (max-width: 767.98px) { 
    .spaceNews{
        padding: 0;
        margin-top: 0px !important;
    }
    .spaceApp{
        margin-left: 0;
        margin-right: 0;
    }
}
@media (min-width: 768px) { 
    .spaceNews{
        margin-left: 16vw;
    }
    
 }
 @media (max-width: 1000px) {
    .spaceFooter{
        display: none;
    }
    .footerMain{
        display: none !important;
    }
    .spaceBonus{
        display: none !important;
    }
 }
 @media (max-width: 1400px) {
    .spaceBonus{
        display: none !important;
    }
    
 }
@media (max-width: 1500px) { 
    .spaceBonus{
        right: 220px !important;
    }
   }

.spaceBonus{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 7.5vh;
    right: 400px;
    width: 350px;
    height: 85vh;
    z-index: 1;
}
.headerBonus{
    height: 3%;
    text-align: center;
}
.listOnline{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    max-height: 45%;
    position: relative;
}
.itemOnline{
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.tickOnline{
    background-color: green;
    height: 12px;
    width: 12px;
    margin-top: 17px;
    border-radius: 100px;
    
}
.itemOnline a {
    text-decoration: none;
    color: var(--purple-color);
}
.itemOnline a:hover {
    text-decoration:underline var(--purple-color);
    font-size: 25px;
}


.footerMain{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 30%;
    font-size: 70px;
}
.spaceFooter{
    height: 20%;
    color: gray;
    font-size: 0.6rem;
}
.space1 a{
    text-decoration: none;
    padding-right: 10px;
    color: gray;
    font-size: 0.8rem;
}
.space1 a:hover{
    color:darkgrey;
}
.space1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.space2{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
 
.spaceApp{
    display: flex;
    margin-top: 56px
}
.spaceNews{
    margin-top: 15px;
}
.footerMain a {
    text-decoration: none;
    color: var(--purple-color);
}
.user-news{
    margin-left: 5px;
    line-height: 50px;
}
#PostStatus{
    min-height: 55px;
    max-height: 1000px;
    display: flex;
    margin-bottom: 2vh;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 3vh;
    
}
#inputStatus{
    min-height: 55px;
    max-height: 1000px;
    width: 100%;
    border: 1px var(--border-color) solid;
    resize: none;
    font-size: 17px;
    overflow: hidden;
}
#inputStatus:focus{
    outline: none;
}
#submitStatus{
    width: 20%;
    min-height: 55px;
    border: none;
    background-color: plum;
    border: 1px var(--border-color) solid;
}
#submitStatus:hover{
    font-size: 30px;
}
