:root{
    --main-background-color : #fafafa;
    --border-color : #dbdbdb;
    --white-color: #fff;
    --component-color: #ffffff;
    --purple-color : purple;
    
}
body { margin:0; }
* { margin:0; padding:0; box-sizing:border-box; }
.btn-check:focus+.btn, .btn:focus{
    box-shadow: none;
}
