body{
    background-color: var(--main-background-color);
}
.spaceNavbar{
    display: flex;
    height: 55px;
    position: fixed;
    left: 0;
    justify-content: center;
    background-color: var(--component-color);
    z-index: 99;
    
}
.navbarSeparate{
    background-color:var(--border-color);
    height: 1px;
    width: 100vw;
    position: fixed;
    top: 55px;
}
.navbar-Instagram{
    height: 55px;
    font-size: 1.5rem;
}
.navbar-Instagram a{
    color: black;
    text-decoration: none;
    line-height: 50px;
}
.navbar-Search{
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;    

}
#idsearch{
    width: 70%;
    height: 28px;
    min-width: 150px;
    border: var(--border-color) 1px solid;
    font-size: 13px;
}

#idsearch:focus{
    outline: none;
}
.navbar-Search ::placeholder{
    font-size: 14px;
    padding-left: 35%;
}
.recent::before{
    content: "";
    border: 15px solid;
    border-color: transparent transparent var(--white-color) transparent ;
    border-radius: 2px;
    position: absolute;
    top : -30px;
    right : 45%;
    z-index: 3;
}
.spaceNotification{
    position: fixed;
    width: 350px;
    height: 350px;
    background-color: var(--white-color);
    top: 65px;
    border: var(--border-color) 1px solid ;
    display: none;
}
.recent{
    margin-top: 10px;
    margin-left: 10px;
}
.notification {
    width: 100%;
    height: 80%;
    text-align: center;
}
.notification p {
    padding-top: 35%;
    font-size: 14px;
    color: gray;
}
#idsearch:focus + .spaceNotification{
    display: block;
}
.navbar-Main{
    height: 55px;
    display: flex;
    justify-content: flex-start;
}

.control{
    width: 30px;
    height: 100%;
    margin-left: 20px;
    margin-right: 5px;
    text-align: center;
    font-size: 25px;

}
.control-user{
    margin-right: 0;
    font-size: 1em;
    line-height: 50px;
    font-size: 1em;
    width: 70px;
    display: inline-block;
    position: relative;
    text-align: center !important;
}
li{
    list-style: none;
}
li a {
    text-decoration: none;
    color: black;
    
}
li .fas , .fab , .far{
    margin-top: 15px;
}
.control:hover{
    cursor: pointer;
}
li .fas:hover , .fab:hover , .far:hover{
    color: grey;
}
.control-camera-mobile , .control-messenger-mobile , .spaceNavbar-mobile , .navbarSeparate-mobile{
    display: none;
}
  
@media (max-width: 767.98px) { 
    .container-mobile{
        position: fixed;
        bottom: 0;
    }

    .spaceNavbar{
        position: fixed;
        right: 0px;
        left: 0px;
        height: 7.5vh;
    }
    .navbar-Search , .navbar-Main{
        display: none;
    }
    .navbar-Instagram{
        text-align: center;
        display: flex;
        justify-content:space-between;
        height: 7.5vh;
        align-items: center;
    }
    .control-camera-mobile , .control-messenger-mobile{
        display: block;
        margin-bottom: 0;
        
    }
    .control-camera-mobile{
        margin-left: 10px;
    }
    .navbarSeparate{
        top: 7.5vh;
    }
    .spaceNavbar-mobile{
        position: fixed;
        bottom: 0;
        display: flex;
        height: 7.5vh;
        justify-content:space-around;
        background-color: var(--component-color);
        left: 0;
    }
    .navbarSeparate-mobile{
        display: block;
        background-color:var(--border-color);
        height: 1px;
        width: 100%;
        position: fixed;
        bottom: 7.5vh;
        
    }
    .spaceControlUser{
        bottom: 150px !important;
        top: -80px !important;
        right: 5px !important;
    }
    .modal-content{
        height: 70vh !important;
    }

 }
#vibes{
    text-decoration: none;
    color:purple;
}

.spaceControlUser{
    position: absolute;
    width: 100px;
    height: 80px;
    background-color: var(--white-color);
    border: var(--border-color) 1px solid ;
    top: 56px;
    left: -14px;
    display: none;
    z-index: 4;
    font-size: 13px;
    text-align: center;
    line-height: 40px;
}
.control-user-pc::after{
    content: '';
    width: 90px;
    height: 20px;
    position: absolute;
    top: 45px;
    left: -10px;
    z-index: 100;
}
.control-user:hover .spaceControlUser{
    display: block;
}
.signout , .profile {
    height: 50%;
    width: 100%;
    color: black;
}
.signout:hover , .profile:hover , .profile:hover a{ 
    background-color: grey;
    cursor: pointer;
    color: white;
}
.modal{
    background-color: rgba(0,0,0,.6);
}
.modal-content{
    height: 60vh;
}
@media (min-width: 576px){
.modal-dialog {
    max-width: 550px !important;
}}
.control a:hover{
    color: black;
    text-decoration: none;
}