.News{
    height: 800px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    background-color: var(--component-color);
    margin-bottom: 70px;
}
.Status{
    min-height: 300px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    background-color: var(--component-color);
    margin-bottom: 70px;
}
.headStatus{
    height:40px;
    background-color: var(--component-color) ;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    border: 1px var(--border-color) solid;
}
.textcontent{
    display: block;
    overflow-y: auto;
    word-wrap: break-word;
}
.contentStatus{
    min-height: 150px;
    max-height: 1000px;
    height: 37%;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 19px;
}
.headNews{
    height:6%;
    background-color: var(--component-color) ;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    border: 1px var(--border-color) solid;

}
.matchStatus{
    height: 11%;
    background-color: var(--component-color);
    display: flex;
    flex-wrap: nowrap;
}
.contentNews{
    height: 68%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.matchNews{
    height: 5%;
    background-color: var(--component-color);
    display: flex;
    flex-wrap: nowrap;
}
.match-status{
    overflow-y: visible;
    border: 1px var(--border-color) solid;
    width: 100%;
}
.title , .match{
    overflow-y: visible;
    border: 1px var(--border-color) solid;
}
.title{
    width: 70%;
    font-size: 19px;
}
.match{
    width: 30%;
}
.fa-heart-2{
    font-size: 30px;
    margin-top: 2%;
}

.commentHistory{
    height: 15%;
    background-color:wheat;
    min-height: 60px;
    max-height: 700px;
    overflow-y:auto;
}
.commentHistory-status{
    display: flex;
    height: 25%;
    background-color:wheat;
    overflow-y:auto;
    min-height: 60px;
    max-height: 700px;
}
.comment{
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.comment-status{
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.inputComment{
    height: 45px;
    width: 82%;
    border: 1px var(--border-color) solid;
    overflow:auto;
    resize: none;
    padding-top: 10px;
    font-size: 14px;
}
.submitCommentStatus{
    height: 45px;
    width: 18%;
    color: gray;
    border: 1px var(--border-color) solid;
    outline: none;
}
.submitComment{
    height: 100%;
    min-height: 45px;
    width: 18%;
    color: gray;
    border: 1px var(--border-color) solid;
    outline: none;
}
.submitComment:active{
    background-color: var(--purple-color);
    color: var(--white-color);
}
.inputComment , .submitComment{
    outline: none;
}
.fa-heart-status{
    margin-top: 1px;
}
.btn-option{
    position: relative;
    z-index: 1;
}
.list-group{
    display: none;
    position: absolute;
    z-index: 1;
    left: -107px;
    height: 200px;
    width: 150px;

}
.fa-heart-status{
    font-size: 30px;
    width: 30px;
}
.list-group-item:hover{
    background-color: var(--border-color);
}
.link-user-news{
    text-decoration: none;
}
.link-user-news:hover{
    color: black;
    text-decoration: underline;
}
@media (max-width: 767.98px) { 
    .News{
        height: 550px;
    }
    .inputComment{
        padding-top: 3px;
    }
    .user-news{
        line-height: 25px;
    }
    .btn-option{
        margin-bottom: 25px;
        padding: 0 5px 0 0;
    }
    .fa-heart-2{
        font-size: 23px;
    }
}
.imgNews{
    max-width: 100%;
    max-height: 540px;
}
.fa-heart-2 , .fa-heart-status{
    cursor: pointer;
}
.user-news , .user-status{
    font-size: 24px;
    font-style: italic;
    color: var(--purple-color);
}
.detailComment{
    display: flex;
}
.userComment a{
    color: black;
    text-decoration: none;
}
.userComment a:hover{
    text-decoration: black underline;
    color: var(--purple-color);
}
.textComment{
    word-break: break-all;
    margin-left: 5px;
}