.News{
    min-height: 300px;
    display: flex;
    flex-direction: column;
    background-color: var(--component-color);
    margin-bottom: 20px;
}
.Status{
    min-height: 300px;
    display: flex;
    flex-direction: column;
    background-color: var(--component-color);
    margin-bottom: 20px;
}
.headStatus{
    height:40px;
    background-color: var(--component-color) ;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    border: 1px var(--border-color) solid;
}
.textcontent{
    display: block;
    overflow-y: auto;
    word-wrap: break-word;
}
.contentStatus{
    min-height: 150px;
    max-height: 1000px;
    height: 37%;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 18px;
    padding: 5px;
}
.headNews{
    height:6%;
    background-color: var(--component-color) ;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    border: 1px var(--border-color) solid;

}
.matchStatus{
    height: 11%;
    background-color: var(--component-color);
    display: flex;
    flex-wrap: nowrap;
    max-height: 40px;
}
.contentNews{
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.matchNews{
    height: 5%;
    background-color: var(--component-color);
    display: flex;
    flex-wrap: nowrap;
    max-height: 65px;
}
.match-status{
    overflow-y: visible;
    border: 1px var(--border-color) solid;
    width: 100%;
}
.title , .match{
    overflow-y: visible;
    border: 1px var(--border-color) solid;
}
.title{
    width: 70%;
    font-size: 19px;
}
.match{
    width: 30%;
}
.fa-heart-2{
    font-size: 30px;
    margin-top: 2%;
}

.commentHistory{
    background-color:wheat;
    min-height: 60px;
    max-height: 1000px;
    overflow-y:auto;
}
.commentHistory-status{
    height: 25%;
    background-color:wheat;
    overflow-y:auto;
    min-height: 60px;
    max-height: 1000px;
}
.comment{
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.comment-status{
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputComment{
    height: 45px;
    width: 82%;
    border: 1px var(--border-color) solid;
    overflow:hidden;
    resize: none;
    padding-top: 10px;
    font-size: 14px;
}
.submitCommentStatus{
    height: 45px;
    width: 18%;
    color: gray;
    border: 1px var(--border-color) solid;
    outline: none;
}
.submitComment{
    height: 100%;
    min-height: 45px;
    width: 18%;
    color: gray;
    border: 1px var(--border-color) solid;
    outline: none;
}
.submitComment:hover{
    background-color: var(--purple-color);
    color: var(--white-color);
}
.submitCommentStatus:hover{
    background-color: var(--purple-color);
    color: var(--white-color);
}
.inputComment , .submitComment{
    outline: none;
}
.fa-heart-status{
    margin-top: 1px;
}
.btn-option{
    position: relative;
    z-index: 1;
}
.list-group{
    display: none;
    position: absolute;
    z-index: 1;
    left: -107px;
    height: 200px;
    width: 150px;

}
.fa-heart-status{
    font-size: 30px;
    width: 30px;
}
.list-group-item:hover{
    background-color: var(--border-color);
}
.link-user-news{
    text-decoration: none;
}
.link-user-news:hover{
    color: black;
    text-decoration: underline;
}
@media (max-width: 767.98px) { 
    .inputComment{
        padding-top: 3px;
    }
    .user-news{
        line-height: 25px;
    }
    .btn-option{
        margin-bottom: 25px;
        padding: 0 5px 0 0;
    }
    .fa-heart-2{
        font-size: 23px;
    }
    .imgNews{
        max-height: 100%;
    }
}
.imgNews{
    max-width: 100%;
    max-height: 100%;
}
.fa-heart-2 , .fa-heart-status{
    cursor: pointer;
}
.user-news , .user-status{
    font-size: 24px;
    font-style: italic;
    color: var(--purple-color);
}
.user-status{
    padding-left: 5px;
}
.detailComment{
    display: flex;
}
.userComment a{
    color: black;
    text-decoration: none;
}
.userComment a:hover{
    text-decoration: black underline;
    color: var(--purple-color);
}
.textComment{
    word-break: break-all;
    margin-left: 5px;
}
.typing{
    height: 25px;
    font-size: 12px;
    opacity: 0.5;
    display: none;
}
.seeUserLike{
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.seeUserLikeSTT{
    width: 70%;
}
.seeUserLike:hover{
    cursor: pointer;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.15);
}
.heartmatchstatus{
    width: 30%;
}
.modal-seeUserLike{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.modal-spaceUserLike{
    width: 400px;
    height: 500px;
    border: 3px var(--border-color) solid;
    border-radius: 5px;
    background-color: slategrey;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titleUserLike{
    text-align: center;
    width: 100%;
    padding: 5px 15px;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    background-color: plum;
}
.listUserLike{
    display: flex;
    width: 95%;
    justify-content: center;
    overflow-y: auto;
    min-height: 75%;
    flex-wrap: wrap;
    align-content: flex-start;
}
.itemUserLike{
    height: 10%;
    border: 1px var(--border-color) solid;
    border-radius: 15px;
    width: 90% ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    margin-bottom: 5px;
}
.itemUserLike:hover{
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}
.btnCloseUserLike{
    width: 50%;
    min-width: 100px;
    border: none;
    height: 7%;
    margin-top: 2%;
    border-radius: 5px;
    margin-bottom: 2%;
}
.btnCloseUserLike:hover{
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

@media (max-width: 767.98px){
    .modal-spaceUserLike{
        width: 300px;
        height: 450px;
    }
}