.profilepage{
    margin-top: 7.5vh;
    padding: 0;
}
.spaceProfile{
    height: 85vh;
    width: 100%;
}
.spaceAvatar{
    height: 50%;
    background-color: var(--purple-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.divavatar{
    width: 320px;
    height: 320px;
    border: 1px solid var(--border-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.imgavt{
    width: 320px;
    height: 320px;
    border-radius: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit:fill;
}
.spaceInfo{
    height: 50%;
    display: flex;
    justify-content: center;
}
.iteminfo{
    font-size: 24px;
    margin-top: 15px;
    color: purple;
}
.inputprofile{
    border: none;
}
.formprofile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.submitprofile{
    width: 40%;
    height: 40px;
    border: 1px var(--border-color) solid;
    background-color: plum;
}
.submitprofile:hover{
    background-color: var(--purple-color);
    color: white;
}
@media (max-width: 767.98px){
    
    .divavatar{
        height: 250px;
        width: 250px;
    }
    .imgavt{
        height: 250px;
        width: 250px;
    }
}